* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", serif;
}

#page {
  margin: 88px 80px 65px;

  & strong {
    color: #e1624f;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
  }
}

h1 {
  font: 700 36px/49px "Open Sans", sans-serif;
  color: #1b1b1b;
  margin-top: 8px;
}

#description {
  & img {
    margin-top: 40px;
  }

  & p {
    margin-top: 24px;
    font: italic 400 16px/22px "Open Sans", sans-serif;
    text-align: center;
    color: #333333;
  }
}

img {
  border-radius: 28px;
  width: 100%;
}

.divisor {
  width: 100%;
  border: 1px solid #d9d9d9;
  margin-top: 40px;
}

#title-list {
  margin-top: 64px;

  & + p {
    margin-top: 8px;
  }
}

h2 {
}
